/* RESPONSIVE STYLES */

/* Header */
@media (min-width: 1024px) {
    .slider_content {
        z-index: 2;
        position: relative;
        margin: 0 auto 10vh auto !important;
        padding-top: 0 !important;
    }

    .slider_content .main-btn {
        padding: 10px 10px;
        font-size: 20px;
        width: 300px;
    }
}

@media (max-width: 1199px) {
    .navbar-nav .nav-item {
        margin-left: 30px;
    }

    .slider_content {
        z-index: 2;
        position: relative;
        margin-top: 10vh;
        padding-top: 0 !important;
    }

    .slider_content .slider_title {
        font-size: 38px;
        font-weight: 700;
        color: #fff;
    }

    .slider_content p {
        font-size: 25px;
        color: #fff;
        margin-top: 20px;
        max-width: 600px;
        font-weight: 500;
    }

    .single_slider .hero-img {
        max-width: 550px;
        width: 100%;
        height: auto;
        display: block;
        margin-top: 50px;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 9;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
        padding: 5px 12px;
    }

    .navbar-nav .nav-item {
        margin: 0;
    }

    .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0;
        color: #222;
    }

    .navbar-nav .nav-item a::before {
        display: none;
    }

    .slider_content .slider_title {
        font-size: 55px;
    }

    .slider_content p {
        font-size: 35px;
    }

    .slider_content .main-btn {
        padding: 15px 30px;
        font-size: 25px;
        border-radius: 40px;
        width: 350px;
        margin-top: 3vh !important;
    }

    .hero-img {
        max-width: 450px !important;
        width: 100%;
        height: auto;
        display: block;
        margin: 30px auto;
    }

    .slide-container {
        flex-direction: column;
        height: auto;
    }

    .testimonial-media, .testimonial-content {
        width: 100%;
    }

    .testimonial-media {
        height: 300px;
    }

    .content-wrapper {
        max-width: 100%;
        padding: 30px 0;
    }

    .owl-nav {
        display: none;
    }
}

@media (max-width: 767px) {
    .hero-area .single_slider {
        padding: 40px 20px 60px;
        height: 800px;
        border-bottom-left-radius: 150px;
    }

    .slider_content {
        margin-top: 15vh;
    }

    .slider_content .slider_title {
        font-size: 28px;
    }

    .slider_content p {
        font-size: 18px;
    }

    .slider_content .main-btn {
        padding: 5px 24px;
        font-size: 16px;
        border-radius: 40px;
        width: 250px;
    }

    .hero-img {
        max-width: 350px;
        width: 100%;
        height: auto;
        display: block;
        margin: 30px auto;
    }

    .hero_img_wrapper {
        text-align: center;
    }

    .row.h-100 {
        height: auto !important;
        flex-direction: column;
        justify-content: flex-start;
    }

    .col-lg-6.col-md-12 {
        width: 100%;
    }

    .key-box {
        padding: 20px 12px;
    }

    .tuition_area .card {
        text-align: center;
    }

    .tuition_area .card ul {
        text-align: center;
    }

    .testimonial-media {
        height: 250px;
    }

    .testimonial-content {
        padding: 25px;
    }

    .testimonial-text p {
        font-size: 15px;
    }

    .user-name {
        font-size: 20px;
    }

    .footer_about img {
        width: 40%;
    }

    .footer_link_wrapper .contact-item {
        flex-wrap: wrap;
    }
}

@media (max-width: 575px) {
    .testimonial-media {
        height: 200px;
    }

    .quote-mark {
        width: 50px;
        height: 50px;
        font-size: 20px;
        bottom: 20px;
        right: 20px;
    }

    .testimonial-content {
        padding: 20px;
    }

    .user-meta {
        flex-wrap: wrap;
    }

    .user-meta .divider {
        display: none;
    }

    .user-meta span {
        width: 100%;
    }
}

@media (max-width: 376px) {
    .slider_content {
        margin-top: 17vh !important;
    }

    .slider_content .slider_title {
        font-size: 25px;
    }

    .slider_content p {
        font-size: 16px;
    }

    .hero-area .single_slider {
        padding: 40px 20px 60px;
        height: 630px !important;
        border-bottom-left-radius: 150px;
    }

    .slider_content .main-btn {
        padding: 0 20px;
        width: 200px;
    }

    .hero-img {
        max-width: 250px !important;
        width: 100%;
        height: auto;
        display: block;
        margin: 35px auto !important;
    }
}

@media (max-width: 350px) {
    .slider_content .slider_title {
        font-size: 23px;
    }

    .slider_content .main-btn {
        margin-top: 20px !important;
        width: 200px;
        font-size: 16px;
        padding: 0 20px;
    }
}

/* Admission Flow */
@media (max-width: 992px) {
    .horizontal-flow-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .horizontal-flow-item {
        width: 45%;
        margin: 0 10px 30px;
    }

    .horizontal-flow-connector {
        display: none;
    }
}

@media (max-width: 576px) {
    .horizontal-flow-item {
        width: 100%;
        margin: 0 0 30px;
    }
}